@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  width: 100vw;
  overflow-x: hidden;
  margin-right: 0;
}
section{
  width: 100vw;
  display: block;
  height: auto;
  
}


.topnav {
    overflow: hidden;
    text-align: center;
    position: relative;
    /*left: 50%;*/
  }
 
  .topnav a {
    
   
    text-align: center;
    padding:1vw;
    text-decoration: none;
    font-size: 1.5vw;
    color:white
    
  }
  .topnav a:hover{
    
    color:rgb(0, 0, 0);
    
  }
  #logos a{
    text-align: center;
    padding: 0.5vw 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    color:white
  
  }
  #logos2{
    margin-bottom: 20px;
  }
  #logos2 a{
    text-align: center;
    padding: 0.5vw 1vw;
    text-decoration: none;
    font-size: 30px;
    color:white;
  
    
  
  }
  .homepage{
    overflow: hidden;
    position: relative;
    background-color: black;
    height:100vh;
  }

  .hometext{
    
      
    position: relative;
  }
  .homepage video{
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #arrow {
    z-index: 10;
    font-size:25px;
    position: fixed;
    left: 93%;
    bottom: 5%;
    text-decoration: none; 
    color: white; 
    transform: rotate(-90deg);

  }
  #arrow:hover{
    color: aquamarine;
  }
  .About{
    background-color:  rgb(18, 18, 19);
   
  }
  .Project{
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    background-color:  rgb(18, 18, 19);
    /*rgb(34, 32, 32);*/
   
   
  }  
  .project-image{
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .project-context{
    position: relative;
  }

  .projects-box{
    cursor: pointer;
    margin-bottom: 20px;
    border: solid;
    padding:10px;
    border-radius: 10%;
    margin-right: 40px;
    border-width: medium;
    box-sizing: border-box;
    border-color: rgb(163, 144, 144);
    background-color:rgb(39, 39, 39);
  
  }
  .projects-box:hover{
    opacity: 0.7;
  }
  #Toplogo:hover{
  
   color: rgb(0, 0, 0);
   
  }
  #Toplogo2:hover{
  
    color: rgb(0, 86, 112);
    
   }
  .Contact{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align: center; 
  }

  #father{
      border-bottom:0.25vw solid  rgb(0, 0, 0);
      margin-bottom: -1vw;
      color: white;
      font-size: 2.6vw;
      
  }
  #father2{
    border-bottom:0.25vw solid  rgb(163, 144, 144);
    margin-bottom: -1vw;
    color:rgb(255, 255, 255);
    font-size: 2.6vw;
    
}
  .button {
    display: inline-block;
    border-radius: 8px;
    background-color:rgb(0, 0, 0);/* rgb(185, 97, 46);background-color: rgb(21, 46, 48);*/
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vw;
    padding: 2px;
    width: 17vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -3vw;
    transition: 0.5s;
  }
  .button:hover span{
      padding-right: 3vw;
  }
  .button:hover span::after{
      opacity: 1;
      right:0;
  }
  .listing{
    list-style: none;
    font-size:1.2vw;
    padding-top: 4%;
    
  }
  .listing p{
    display: inline-block;
  }

  